.result {
  height: 49px;
  background-color: #E48EA5;
  width: 100%;
  border-radius: 9px;
  margin-bottom: 13px;
}

.result p {
  font-size: 40px;
  margin: 5px;

}
.calculator-body{
  width: 459px;
  margin: 10px auto;
  background: #ffffff;
  border: 1px solid gray;
  border-radius: 32px;
  
}

.calculator{
  max-width: 400px;
  margin: 13px auto;
  background-color: #FFFFFF;
  
}

.button-group{

}

.button {
  display: block;
  background-color: #bbb;
  padding: 10px;
  border-radius: 14px;
  
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}